.progressBar{
    width: 50% !important;  
    position: absolute;  
  }
  
  .progressBarDiv{
    width: 100%;
    display: flex;  
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    height: calc(100%);  
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.15);  
  }