.material-icons{
    height:26px; 
    margin: 0 4px 3px 0;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.appName{    
    font-size: x-large;
    margin: 0 0 0 16px;
    letter-spacing: 5px;
}

.div-button:hover{    
    cursor: pointer;    
}

.div-button{
    
    display: flex; 
    align-items: center;
}

.toolbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2
}