@keyframes newItemAdded {
  0% {
    opacity: 0;    
  }
  25% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }
  
  100% {
    opacity: 1;    
  }
}

.newItemAdded{
  animation-name: newItemAdded;
  animation-duration: 2s;
  /* animation-iteration-count: 5; */
}

.mat-row:hover{
  cursor: pointer;
}

.mat-row:hover .iconRoute{
  display:block;
}

.mat-row .iconRoute{
  height:24px;
  width:24px;
  margin-right:100px;
}

.mat-row .iconCheck{
  margin-left:10px;
}

.mat-row:hover {
  background: rgba(0,0,0,.04);
}

.mat-row .iconRoute{
  display:none;
}

.mat-column-launchMapView {
  display: flex;
  justify-content: flex-end;
}

.mat-header-cell {
  font-size: large;
}

.mat-header-row{
border-color: rgb(170, 170, 170);
border-width: 2px;
}

.bandeau{
  position: relative;
  top: 64px;
  height: 80px;
  display: flex;
  align-items: center;
 left: 20px;
}

.buttonAdd{
  margin-left: 20px;
  min-width: 36px;
}

.dataTable{
  position: relative;
  top: 64px;
  width: 100%
}

.filterForm{
  margin-left: 20px;
}

.menuSelected {
  color: red;
}

.menuUnselected {
  color: white;
}