/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    margin: 0 !important;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    height: 100%;
}

.viewData{
    display: flex;
    position: absolute;
    top: 76px;
    left: 20px;
  }