agm-map {
  height: calc(100% - 64px);
  width: 100%;
  position: absolute;
  top: 64px;
}

.agm-map-container-inner{
  height: 100% !important;
}

.viewData{
  display: flex;
  position: absolute;
  top: 76px;
  left: 20px;
}

.routeButton.selected{
  background-color: #99cc00;    
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.routeButton{
  background-color: transparent;
  box-shadow: unset;
  border: 2px solid #99cc00 !important;  
  margin-right: 5px !important;
}

.traceButton.selected{
  background-color: #cc9900;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.traceButton {
  background-color: transparent;
  border: 2px solid #cc9900 !important;  
  box-shadow: unset;
}

.optionsButton{
  display: flex;
  position: absolute;
  top: 76px;
  right: 20px;
}

.mat-button-wrapper{
  margin-top: -1px;
}